{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block title %}Publication{% endblock %}
=======
{% block title %}Hello PublicationController!{% endblock %}
>>>>>>> 5ae39107abaaf442fc075d76d1fb4f660702682f

{% block body %}
    <h1>Formulaire</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_end(form) }}
{% endblock %}
