{% extends 'base.html.twig' %}

{% block title %}Profil de l’utilisateur{% endblock %}

{% block body %}
    <h2>Profil de l’utilisateur</h2>
    <p>Nom d'utilisateur: {{ utilisateur.username }}</p>
    <p>Email: {{ utilisateur.email }}</p>
    <img src={{ utilisateur.profile_picture }} alt="Photo de profil">


    {# Afficher d'autres informations de l'utilisateur comme vous le souhaitez #}
{% endblock %}

