{% extends 'base.html.twig' %}


{% block body %}
<img style="width: 100%" class="wave" src="{{ asset('img/wave.png') }}">
<h2>Eco-Questionnaire</h2>
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary">Soumettre</button>
{{ form_end(form) }}
{% endblock %}
